.container {
    color: black;
    position: absolute; 
    bottom: 10px;        
    left: 50%;           
    transform: translateX(-50%); 
    overflow: hidden;    
    /* width: fit-content;  */
    max-width: 90%;     
    text-align: center; 
}
