@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&display=swap');

.container {
    color: black;
    position: absolute; 
    bottom: 5%;        
    left: 50%;           
    transform: translateX(-50%); 
    overflow: hidden;    
    max-width: 90%;     
    text-align: center; 
    font-size: large;
}

.noto {
    font-family: 'Noto Serif', serif;
    font-weight: 300; 
    font-size: large;
    font-style: normal;
}
