.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    background-color: var(--background-color);
    color: var(--text-color);
    margin-bottom: 20px;
}

.noto-footer {
    font-family: 'Noto Serif', serif;
    font-weight: 300; 
    font-size: large;
    font-style: normal;
    text-align: center; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main-content {
    flex: 1;
}
.icons{
    display: flex;
    color: var(--text-color);
}
.icon {
    padding:0.5em 0.5em;
    color: var(--text-color);

}
@media (max-width: 768px) {
    .noto-footer {
        font-size: medium;
    }
}
