.home-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 10rem auto;
    padding: 20px;
    align-items: flex-start; 
    text-align: left;
}

.home-header {
    font-size: 5em;
    color: black;
    width: 100%;
 
}

.icon-box {
    margin-top: 10px;
    width: 90%; 
    max-width: 400px; 
    height: 80px; 
    border: 3px solid black;
    display: flex; 
    align-items: center; 
    justify-content: center;
    box-sizing: border-box; 
}

.text-box {
    margin-top: 10px;
    width: 90%; 
    max-width: 1300px; 
    height: 80px; 
    border: 3px solid black;
    display: flex; 
    align-items: center; 
    justify-content: center;
    box-sizing: border-box; 
    justify-content: flex-start; 
    box-sizing: border-box; 
    padding-left: 10px; 
    text-align: left; 
}

.noto-home {
    font-family: 'Noto Serif', serif;
    font-weight: 300; 
    font-style: italic; 
    text-align: left;
}

.home-desc {
    color: black;
    font-size: x-large;     
    margin-top: 20px; 
    overflow-wrap: normal;        
}

.highlight {
    background-color: #DEB181; 
}

.home-item {
    font-size: x-large;
    color: black;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .home-header {
        font-size: 3em;
    }

    .text-box {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    .home-header {
        font-size: 2.5em;
    }

    .text-box {
        width: 95%; /* Further adjust width for very small screens */
    }
}
