@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,300&display=swap');

.navbar-container {
    display: flex;
    position: absolute;
    left: 50%; 
    top: 5%; 
    transform: translateX(-50%); 
    overflow: hidden; 
}

.nav-link {
    margin: 0 1rem;
    color: black;
}

.noto-serif {
    font-family: 'Noto Serif', serif;
    font-weight: 300; 
    font-style: italic; 
}


@media (max-width: 768px) {
}
