@import './theme.css';

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    background-color: var(--background-color);
    color: var(--text-color);
}

.typewriter {
    margin: 1em;
    padding: 20px;
    color: var(--text-color);
    font-size: 4rem;
    /* border-radius: 8px; */
    text-align: center;
    border: 2px solid var(--text-color);
    transition: border-color 0.3s ease;
}

.typewriter:hover {
    border-color: var(--primary-color);
}

.proj-title {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    font-weight: bolder;
    position: relative;
    z-index: 2;
    color: var(--text-color);
}

.rainbow {
    position: absolute;
    top: 240px;
    left: 49.5%;
    transform: translateX(-50%) rotate(2deg);
    z-index: 1;
    max-width: 20%;
    height: auto;

}

.typewriter-container {
    display: flex;
    align-items: center;
    position: relative;
}

.ideaman {
    position:absolute;
    max-width: 50px;
    height: auto;
    left: 2%;
}
.plane{
    position:absolute;
    max-width: 150px;
    height: auto;
    left: 90%;
    top:30%;
}


@media (max-width: 768px) {
    .typewriter {
        font-size: 3rem;
        padding: 15px;
    }

    .proj-title {
        font-size: 1.5rem;
    }
    .rainbow {
        top: 190px;
        left: 50%;
        max-width: 50%;
    
    }
    .ideaman {
        left:-5%;
    }
    .plane{
        max-width: 70px;
    }
}

@media (max-width: 480px) {
    .typewriter {
        font-size: 2rem;
        padding: 10px;
    }

    .proj-title {
        font-size: 1.2rem;
    }
    .ideaman {
        left:-2%;
        max-width: 40px;
    }
}

@media (max-width: 380px) {
    .typewriter {
        font-size: 2rem;
        padding: 10px;
    }

    .proj-title {
        font-size: 1.2rem;
    }
}
