@import './theme.css';

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 80vh;
    overflow: hidden;
    position: relative;
    background-color: var(--background-color);
    color: var(--text-color);
}

.resumeman-container {
    position: absolute;
    top: 20px;
    left:40px;
    transform: translateX(-50%);
    z-index: 10;
}

.resumeman {
    max-width: 50px;
    height: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.resume-pdf {
    width: 80vw;
    max-width: 800px;
    height: 80vh;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--shadow-color);
}

.download-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.download-button:hover {
    background-color: var(--link-hover-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--shadow-color);
}

@media (max-width: 768px) {
    .resumeman {
        max-width: 40px;
    }
    .resumeman-container {
        position: absolute;
        top: 10px;
        transform: translateX(-50%);
        z-index: 10;
    }

    .resume-pdf {
        width: 90vw;
        height: 60vh;
    }

    .download-button {
        font-size: 14px;
        padding: 8px 16px;
        width: 9vw;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .resumeman {
        max-width: 60px;
    }

    .resume-pdf {
        width: 95vw;
        height: 50vh;
    }

    .download-button {
        font-size: 12px;
        padding: 6px 12px;
        width:10vw;
        max-width: 250px;
    }
}
